/* DEBUG */

.debug .row [class*="col-"] {
  background-color: pink;
  border: 1px solid black;
}

.debug .row {
  height: 150px;
  line-height: 150px;
}

.debug .row [class*="col-"] {
  height: 100%;
  text-align: center;
}

.debug .row .row [class*="col-"] {
  background-color: coral;
  border: 2px solid white;
}

.debug .row .row {
  padding: 5px;
}

.debug .jumbotron {
  background-color: blue;
  height: 400px;
}
/* /debug */

section {
  margin: 20px 0;
}


#customer {
  background-color: #f3f5f9;
  margin: 20px o;
}

#deploy {
  background-color: white;
}

#deploy .container .row {
  height: 100%;
}

#deploy .container .row .col-sm-4 div{
  line-height: 1.6;
}
